<div class="container">
  <div class="pt-5 pb-3">
    <h3>Courses</h3>
    <p class="text-muted">
      Cum doctus civibus efficiantur in imperdiet deterruisset.
    </p>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-between">
              <span class="badge bg-success pt-2">New</span>
              <h5 class="text-muted">Web Design</h5>
            </div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
          <h6>The Complete JavaScript Course 2021: Build Real Projects!</h6>
          <div class="d-flex justify-content-between pt-2 pb-1">
            <div>
              <span class="text-muted">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;277
                Lectures</span
              >&nbsp;
              <span class="text-muted"
                ><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Total 40
                hrs</span
              >
            </div>
            <div>
              <span>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>4.6</span
              >
            </div>
          </div>
          <div class="blank-div"></div>
          <img src="../../assets/images/testimonial1.jpg" alt="user-profile" />
          <h5 class="text-muted">By Jenny Thompson</h5>
          <p>10+yrs experience in Wev Development</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-between">
              <span class="badge bg-success pt-2">New</span>
              <h5 class="text-muted">Development</h5>
            </div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
          <h6>Redux Saga (with React and Redux): Fast-track intro course</h6>
          <div class="d-flex justify-content-between pt-2 pb-1">
            <div>
              <span class="text-muted">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;277
                Lectures</span
              >&nbsp;
              <span class="text-muted"
                ><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Total 40
                hrs</span
              >
            </div>
            <div>
              <span>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>4.6</span
              >
            </div>
          </div>
          <div class="blank-div"></div>
          <img src="../../assets/images/team-detail.jpg" alt="user-profile" />
          <h5 class="text-muted">By Jenny Thompson</h5>
          <p>10+yrs experience in Wev Development</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-between">
              <span class="badge bg-success pt-2">New</span>
              <h5 class="text-muted">UX Design</h5>
            </div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
          <h6>Advanced CSS and Sass: Flexbox Grid, Animations and More!</h6>
          <div class="d-flex justify-content-between pt-2 pb-1">
            <div>
              <span class="text-muted">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;277
                Lectures</span
              >&nbsp;
              <span class="text-muted"
                ><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Total 40
                hrs</span
              >
            </div>
            <div>
              <span>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>4.6</span
              >
            </div>
          </div>
          <div class="blank-div"></div>
          <img src="../../assets/images/testimonial2.jpg" alt="user-profile" />
          <h5 class="text-muted">By Jenny Thompson</h5>
          <p>10+yrs experience in Wev Development</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-between">
              <span class="badge bg-success pt-2">New</span>
              <h5 class="text-muted">Business & Finance</h5>
            </div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
          <h6>The Complete Financial Analyst Course 2020</h6>
          <div class="d-flex justify-content-between pt-2 pb-1">
            <div>
              <span class="text-muted">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;277
                Lectures</span
              >&nbsp;
              <span class="text-muted"
                ><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Total 40
                hrs</span
              >
            </div>
            <div>
              <span>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>4.6</span
              >
            </div>
          </div>
          <div class="blank-div"></div>
          <img src="../../assets/images/testimonial3.jpg" alt="user-profile" />
          <h5 class="text-muted">By Jenny Thompson</h5>
          <p>10+yrs experience in Wev Development</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center py-5">
    <button type="button" class="btn btn-danger p-3">View All Courses</button>
  </div>
</div>
