.badge {
  width: 50px;
  border-radius: 15px;
  margin-right: 10px;
}
.fa-star-half-o {
  color: darkgoldenrod;
}
.blank-div {
  height: 200px;
  background-color: red;
}
img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  top: -35px;
  left: 12px;
}
.card {
  margin-right: 5px;
  margin-left: 5px;
}
.main-div {
  margin-left: 130px;
  margin-right: 130px;
}
