<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-lightb fixed-top bg-light px-0">
      <a class="navbar-brand pl-4" href="#">Logo</a>
      <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto nav-pills p-4">
          <li class="nav-item active">
            <a class="nav-link bg-danger btn-lg active" href="#" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">About Us</a>
          </li>
        </ul>
        <form id="nav-search" class="d-lg-flex p-4 pt-1">
          <div class="d-flex">
            <input class="form-control shadow-none h-100" type="text" placeholder="Search for anything" />
            <i class="fa fa-search border rounded-right pt-1 px-2 me-5 h-100" aria-hidden="true"></i>
          </div>
          <div class="d-flex pt-2">
            <i class="fa fa-user text-dark me-3" aria-hidden="true"></i>
            <h4>Login/Register</h4>
          </div>
        </form>
      </div>

    </nav>
  </header>
</div>