.fa-user {
  font-size: 33px;
}
.nav-link{
  font-size: 25px;
  font-weight: 600;
  padding-left: 10px;
}
.fa-search {
  font-size: 25px;
  background-color: #fff;
  border-left: none !important;
}
.form-control{
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.carousel-control-prev {
  position: absolute;
  top: 270px;
  left: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-right: 5px;
  background-color: lightslategrey;
}
.carousel-control-next {
  position: absolute;
  top: 270px;
  right: 48px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-left: 5px;
  background-color: lightslategrey;
}
.d-block {
  background-size: cover;
  height: 600px;
  opacity: 0.6;
}
.navbar{
  height: 100px;
}
.navbarSupportedContent{
 margin: 0;
}

@media screen and (max-width : 931px) {
  .nav-search{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .txt-font{
    position:relative;
    top: 30px;
  }
}