<div class="container mt-3 py-3">
  <div class="d-flex justify-content-center py-3">
    <button type="button" class="btn cat-btn btn-danger">All Categories</button>
  </div>
  <h3 class="py-3">Search over 1000 tutorials and courses</h3>
  <div class="container-fluid bg-light py-3 my-sm-3">
    <div class="row py-2">
      <div class="col-lg-6 col-md-12 my-md-3 my-sm-3">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search" />
        </form>
      </div>
      <div class="col-lg-4 col-md-12 my-md-3 my-sm-3 d-flex justify-content-end">
        <select class="form-select">
          <option>Select Category</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-12 my-md-3 my-sm-3 d-flex justify-content-center">
        <div class="">
          <button type="button" class="btn btn-danger ">Find Courses</button>
        </div>
      </div>
    </div>
  </div>
</div>
