.card {
  min-height: 110px;
}
.txt{
  font-size:12px ;
}
.card_head{
  min-width: 101px !important;
  height: 110px;
}
.font_tet{
  font-size:9px !important;
}
.up {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-left: 6px;
}

.fa-angle-up {
  font-size: 20px;
}
.down{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 8px; 
    font-size: 18px;
}
.main-div{
    margin-left: 130px;
    margin-right: 130px;
}