<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-12">
      <h3 class="pt-5 text-muted">Blogs</h3>
    <div class="row">
      <div class="col-5 py-3">
        <div class="card">
        <div class="card-body">Basic card</div>
      </div>
    </div>
      <div class="col-7"><h6 class="mt-3">A Solution Built for Teachers</h6>
        <span class="text-muted txt">December</span
        ><span class="text-muted txt">27,2019</span
        ><span class="text-muted txt">|4comments</span>
        <p class="txt">
          Cum doctus civibus efficiantur in imperdiet dete to make a type
          specimen book. It has survived not only five centuries,
        </p></div>
    </div>
    <hr class="mx-1"/>
    <div class="row">
      <div class="col-5 py-3">
        <div class="card">
        <div class="card-body">Basic card</div>
      </div>
    </div>
      <div class="col-7"><h6 class="mt-3">A Solution Built for Teachers</h6>
        <span class="text-muted txt">December</span
        ><span class="text-muted txt">27,2019</span
        ><span class="text-muted txt">|4comments</span>
        <p class="txt">
          Cum doctus civibus efficiantur in imperdiet dete to make a type
          specimen book. It has survived not only five centuries,
        </p></div>
    </div>
    <hr class="mx-1"/>
    <div class="row">
      <div class="col-5 py-3">
        <div class="card">
        <div class="card-body">Basic card</div>
      </div>
    </div>
      <div class="col-7"><h6 class="mt-3">A Solution Built for Teachers</h6>
        <span class="text-muted txt">December</span
        ><span class="text-muted txt">27,2019</span
        ><span class="text-muted txt">|4comments</span>
        <p class="txt">
          Cum doctus civibus efficiantur in imperdiet dete to make a type
          specimen book. It has survived not only five centuries,
        </p></div>
    </div>
    </div>
    <div class="col-lg-2 col-md-none"></div>
    <div class="col-lg-5 col-md-12 pt-5"><h3 class="text-muted">Events</h3>
      <div class="row">
        <div class="col-lg-10 py-2">
          <h6 class="mt-3">How to make Beautiful Landscape Photos?</h6>
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">Basic card</div>
              </div>
            </div>
            <div class="col-8">
              <div class="d-flex justify-content-between">
                <span class="text-muted font_tet"><i class="fa fa-calendar-o text-danger txt" aria-hidden="true"></i>&nbsp;Apr 13</span>
                <span class="border-right font_tet"></span>
                <span class="text-muted font_tet"><i class="fa fa-clock-o text-danger txt" aria-hidden="true"></i>&nbsp;10:00 AM</span>
                <span class="border-right font_tet"></span>
                <span class="text-muted font_tet"><i class="fa fa-map-marker text-danger txt" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
              </div>
              <p class="txt"> is simply dummy text of the printing  industry' type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
            
            </div>
          </div>
      </div>
        <div class="col-2 py-4"><i class="fa fa-angle-up"></i>  
        </div>
      </div>
      <div class="row py-4">
        <div class="col-lg-10">   <div class="mb-3">
          <div class="d-flex align-items-center justify-content-between">
              <h6 class="py-2 m-0">Adobe XD: Prototyping Tips & Tickets</h6>
            </div>
            <div class="d-flex">
              <span class="text-muted font_tet"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
              <span class="border-right font_tet mx-2"></span>
              <span class="text-muted font_tet"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
              <span class="border-right font_tet mx-2"></span>
              <span class="text-muted font_tet"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
          </div>
        </div></div>
        <div class="col-2"><span class="border down mx-1"
          ><i class="fa fa-angle-down" aria-hidden="true"></i
        ></span></div>
    </div>
      <div class="row py-4">
        <div class="col-lg-10">   <div class="mb-3">
          <div class="d-flex align-items-center justify-content-between">
              <h6 class="py-2 m-0">Adobe XD: Prototyping Tips & Tickets</h6>
            </div>
            <div class="d-flex">
              <span class="text-muted font_tet"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
              <span class="border-right font_tet mx-2"></span>
              <span class="text-muted font_tet"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
              <span class="border-right font_tet mx-2"></span>
              <span class="text-muted font_tet"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
          </div>
        </div></div>
        <div class="col-2"><span class="border down mx-1"
          ><i class="fa fa-angle-down" aria-hidden="true"></i
        ></span></div>
    </div>
      <div class="row py-4">
        <div class="col-lg-10">   
          <div class="mb-3">
          <div class="d-flex align-items-center justify-content-between">
              <h6 class="py-2 m-0">Adobe XD: Prototyping Tips & Tickets</h6>
            </div>
            <div class="d-flex">
              <span class="text-muted font_tet"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
              <span class="border-right font_tet mx-2"></span>
              <span class="text-muted font_tet"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
              <span class="border-right font_tet mx-2"></span>
              <span class="text-muted font_tet"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
          </div>
        </div>
      </div>
        <div class="col-2"><span class="border down mx-1"
          ><i class="fa fa-angle-down" aria-hidden="true"></i
        ></span></div>
    </div>
  </div>
</div>
<!-- <div class="main-div">
  <div class="row">
    <div class="col-6">
      <h3>Blogs</h3>
      <div class="row mb-2">
        <div class="col-4 my-1">
          <div class="card">
            <div class="card-body">Basic card</div>
          </div>
        </div>
        <div class="col-8">
          <h5>A Solution Built for Teachers</h5>
          <span class="text-muted">December</span
          ><span class="text-muted">27,2019</span
          ><span class="text-muted">|4comments</span>
          <p>
            Cum doctus civibus efficiantur in imperdiet dete to make a type
            specimen book. It has survived not only five centuries,
          </p>
        </div>
      </div>
      <div class="border-bottom"></div>
      <div class="row my-2">
        <div class="col-4 my-1">
          <div class="card">
            <div class="card-body">Basic card</div>
          </div>
        </div>
        <div class="col-8">
          <h5>A Solution Built for Teachers</h5>
          <span class="text-muted">December</span
          ><span class="text-muted">27,2019</span
          ><span class="text-muted">|4comments</span>

          <p>
            Cum doctus civibus efficiantur in imperdiet dete to make a type
            specimen book. It has survived not only five centuries,
          </p>
        </div>
      </div>
      <div class="border-bottom"></div>
      <div class="row my-2">
        <div class="col-4 my-1">
          <div class="card">
            <div class="card-body">Basic card</div>
          </div>
        </div>
        <div class="col-8">
          <h5>A Solution Built for Teachers</h5>
          <div>
            <span class="text-muted">December</span
            ><span class="text-muted">27,2019</span
            ><span class="text-muted">|4comments</span>
          </div>
          <p>
            Cum doctus civibus efficiantur in imperdiet dete to make a type
            specimen book. It has survived not only five centuries,
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3 class="py-4">Events</h3>
      <div class="d-flex align-items-center">
        <h4 class="py-2 m-0">How to make Beautiful Landscape Photos?</h4>
        <span class="up bg-danger ml-3"
          ><i class="fa fa-angle-up" aria-hidden="true"></i
        ></span>
      </div>
      <div class="row">
        <div class="col-4">




            <div class="card">
                <div class="card-body">Basic card</div>
              </div>
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-between">
                <span class="text-muted"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
                <span class="border-right"></span>
                <span class="text-muted"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
                <span class="border-right"></span>
                <span class="text-muted"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry doctus civibus efficiantur in imperdiet dete to make a type specimen book. It has survived not only five centuries.</p>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="py-2 m-0">Adobe XD: Prototyping Tips & Tickets</h5>
            <span class="border down ml-3"
              ><i class="fa fa-angle-down" aria-hidden="true"></i
            ></span>
          </div>
          <div class="d-flex">
            <span class="text-muted"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
            <span class="border-right mx-2"></span>
            <span class="text-muted"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
            <span class="border-right mx-2"></span>
            <span class="text-muted"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="py-2 m-0">Design Instruments for Communication</h5>
            <span class="border down ml-3"
              ><i class="fa fa-angle-down" aria-hidden="true"></i
            ></span>
          </div>
          <div class="d-flex">
            <span class="text-muted"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
            <span class="border-right mx-2"></span>
            <span class="text-muted"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
            <span class="border-right mx-2"></span>
            <span class="text-muted"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="py-2 m-0">Productivity & Time Management for the Overwhelmed</h5>
            <span class="border down ml-3"
              ><i class="fa fa-angle-down" aria-hidden="true"></i
            ></span>
          </div>
          <div class="d-flex">
            <span class="text-muted"><i class="fa fa-calendar-o text-danger" aria-hidden="true"></i>&nbsp;Apr 13</span>
            <span class="border-right mx-2"></span>
            <span class="text-muted"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp;10:00 AM</span>
            <span class="border-right mx-2"></span>
            <span class="text-muted"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;Seepz training Room, Mumbai</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
