<app-page-header></app-page-header>
<app-page-carousel></app-page-carousel>
<app-page-course-category></app-page-course-category>
<app-page-all-categories></app-page-all-categories>
<app-page-courses></app-page-courses>
<app-page-view-all-courses></app-page-view-all-courses>
<app-page-blogs></app-page-blogs>
<app-page-footer></app-page-footer>