.card {
  width: 200px;
  height: 180px !important;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.design {
  content: "";
  background: url("../../assets/images/feature1.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.business {
  content: "";
  background: url("../../assets/images/feature2.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.software {
  content: "";
  background: url("../../assets/images/feature3.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.web-develop {
  content: "";
  background: url("../../assets/images/feature4.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.carousel-control-prev {
  position: relative;
  top: -118px;
  left: -21px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-right: 5px;
  background-color: lightslategrey;
}
.carousel-control-next {
  position: relative;
  top: -118px;
  right: -21px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-left: 5px;
  background-color: lightslategrey;
}
.main-div {
  margin-left: 130px;
  margin-right: 130px;
}
.text {
  font-size: 16px !important;
}


.owl-carousel .owl-nav button.owl-next{
  font-size: 40px !important;
}
.owl-carousel .owl-nav button.owl-pre{
  font-size: 40px !important;
}