<h2 class="text-center py-3">Courses Categories</h2>
<h4 class="text-center text-muted text">
  Cum doctus civibus efficiantur in imperdiet deterruisset.
</h4>
<div class="main-div mt-3 py-3">
  <div class="w-100 d-flex justify-content-between owl-carousel-page-course-category owl-carousel owl-theme">
    <div class="item card shadow design" id="card_img">
      <div class="d-flex flex-column align-items-center pt-5 text-light">
        <h4>Design</h4>
        <span>Over 20 Courses</span>
      </div>
    </div>
    <div class="item card shadow business" id="card_img">
      <div class="d-flex flex-column align-items-center pt-5 text-light">
        <h4>Business</h4>
        <span>Over 20 Courses</span>
      </div>
    </div>
    <div class="item card shadow software" id="card_img">
      <div class="d-flex flex-column align-items-center pt-5 text-light">
        <h4>Software Development</h4>
        <span>Over 20 Courses</span>
      </div>
    </div>
    <div class="item card shadow web-develop" id="card_img">
      <div class="d-flex flex-column align-items-center pt-5 text-light">
        <h4>Web Development</h4>
        <span>Over 20 Courses</span>
      </div>
    </div>
  </div>
  <div class="owl-nav d-flex justify-content-between">
    <button class="carousel-control-prev owl-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next owl-next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>