<div class="container bg-secondary">
    <div class="row py-5">
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <i class="fa fa-graduation-cap text-danger" aria-hidden="true"></i>
        <p class="fnt">200+</p><p class="txt mt-n3">Student</p>
    </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <i class="fa fa-book text-danger" aria-hidden="true"></i>
            <p class="fnt">450+</p><p class="txt mt-n3">Courses</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <i class="fa fa-star-o text-danger" aria-hidden="true"></i>
            <p class="fnt">200+</p><p class="txt mt-n3">Ratings</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <i class="fa fa-file-word-o text-danger" aria-hidden="true"></i>
            <p class="fnt">500+</p><p class="txt mt-n3">Projects</p>
        </div>
    </div>
</div>
