<div class="container-fluid bg-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 py-md-3">
        <h4 class="text-light pt-4">About Us</h4>
        
        <p class="text-light"><i class="fa fa-map-marker text-light"></i> Trigyn Technologies Limited 27 SDF-1, SEEPZ, Andheri (East) Mumbai 400 096</p>
        <i class="fa fa-mobile text-light"></i><span class="text-light"> 91-22-6240-0909</span>
      </div>
      <div class="col-lg-3 col-md-6 py-md-3 pt-4">
        <h4 class="text-light pt-4">Quick Links</h4>
        <div class="py-3"><span class="text-light">></span><a href="#" class="text-light p-4">About Us</a></div>
        <div class="py-3"><span class="text-light">></span><a href="#" class="text-light p-4">Blogs</a></div>
        <div class="py-3"><span class="text-light">></span><a href="#" class="text-light p-4">Categories</a></div>
        <div class="py-3"><span class="text-light">></span><a href="#" class="text-light p-4">Courses</a></div>
        <div class="py-3"><span class="text-light">></span><a href="#" class="text-light p-4">Contact Us</a></div>
      </div>
      <div class="col-lg-3 col-md-6 py-md-3 pt-4">
        <h4 class="text-light pt-4">Tags</h4>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Courses
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Events
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Projects
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Development
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Blogs
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Designing
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          IT & Security
        </button>
        <button type="button" class="btn btn-secondary text-light my-3 mx-2">
          Photography
        </button>
        <button type="button" class="btn btn-secondary my-3 text-light mx-2">
          Accounts & Finance
        </button>
      </div>
      <div class="col-lg-3 col-md-6 py-md-3 pt-4">
        <h4 class="text-light pt-4">Social Links</h4>
        <div class="row">
          <div class="col my-3"><i class="fa fa-facebook text-light border p-3"></i></div>
          <div class="col my-3"><i class="fa fa-instagram text-light border p-3"></i></div>
          <div class="col my-3"><i class="fa fa-twitter text-light border p-3"></i></div>
          <div class="col my-3"><i class="fa fa-linkedin text-light border p-3"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <p class="text-muted text-center mt-3">Copyright @ Trigyn Technologies Limited All Rights Reserved</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <p class="text-muted text-center mt-3">Privacy Policy | Terms Of Use | Disclaimer & Feedback</p>
    </div>
  </div>
</div>