.txt-font {
  font-weight: 700;
  position: absolute;
  top: 250px;
  right: 170px;
}
.text_2 {
  font-size: 24px !important;
}
@media screen and (max-width: 991px) {
  .txt-font {
    position: relative;
    top: -300px;
  }
}

@media screen and (max-width: 400px) {
  .txt-font {
    font-weight: 500;
    position: relative;
    font-size: 8px;
    top: -300px;
  }
}
